body {
    background:url(../img/kews.jpg) top center;
    background-size: cover;
    margin: 0px;
}
.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-item {
    width: 130px;
    height: 110px;
    background: url(../img/image-removebg-preview.png) no-repeat center;
    background-repeat: no-repeat;
    
}

.instagram {
    background-position:0 0;
}
.instagram:hover {
    background-position: 0 calc(-108px - 2px);
}

.twitter {
    background-position: calc(-119px - 2px) 0;
}
.twitter:hover {
    background-position: calc(-124px - 3px) calc(-110px - 2px);
}

.facebook {
    background-position: calc((-121px - 3px)* 2) 0;
}
.facebook:hover {
    background-position: calc((-117px - 3px) * 2) calc(-108px - 2px);
}